/* base */
html,
body{
    margin: 0;
    font-size: 62.5%;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
header,.first-view{
    color: #fff;
}

.opacity:hover{
    opacity: 70%;
    transition: .3s;
}
/* header */
header{
    position: relative;
    height: 32.2vw;
}
.header-line{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.header-title{
    margin: 2.2rem 0 0 5.9rem;
}
.header-humberger{
    margin: 3.6rem 5.8rem 0 0;
    display: flex;
    z-index: 3;
}
.header-humberger:hover{
    cursor: pointer;
}
.bar{
    width: 2.2rem;
    height: .2rem;
    background-color: #fff;
    margin-bottom: 5px;
    border-radius: 30px;
}
.humberger-text{
    padding-left: .7rem;
}
.header-img{
    position: absolute;
    top: 0;
    z-index: -1;
}
.header-img img{
    width: 76.3vw;
}   
.header-background{
    width: 54.1vw;
    height: 32.2vw;
    background-color: #222222;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -2;
}
/* first-view */
.first-view{
    position: absolute;
    top: 0;
    width: 100%;
    height: 32.2vw;
}
.fv-inner{
    float: right;
    margin: 15.6rem 17.0rem 0 0;
}
.fv-title{
    font-size: 7.2rem;
    font-family: Montserrat;
    font-weight: bold;
    /* letter-spacing: .63rem; */
}
.fv-text{
    font-size: 2.0rem;
    font-family: Noto Sans JP Bold;
}
/* section */
section{
    margin: 0 11.8vw;
}
/* vision */
.vision{
    margin: 12.0rem 0 0 15.69vw;
    color: #333333;
    height: 100%;
}
.vision-title{
    font-size: 3.2rem;
    font-weight: 800;
    font-family: Montserrat;
}
.vision-sub-title{
    margin: 2.5rem 0 2.7rem 0;
    font-size: 2.4rem;
    font-weight: bold;
    font-family: YuGothic;
}
.vision-text{
    font-size: 1.6rem;
    font-family: Noto Sans JP Bold;
}
/* ceo-msessage */
.ceo-message{
    color: #333333;
    position: relative;
    margin-top: 12.28rem;
}
.cm-inner{
    background-color: #f0f0f0;
    width: 30.5vw;
    margin: 26.4rem 0 12.0rem 22.91vw;
    padding: 12.0rem 10.97vw 9.0rem 10.97vw;
    /* margin-left: 33.0rem; */
    /* padding: 12.0rem 24vw 9.0em 24vw; */
}
.cm-title{
    font-size: 3.2rem;
    font-weight: 800;
    font-family: Montserrat;
    margin-bottom: 3.0rem;
}
.cm-text{
    font-size: 1.6rem;
    font-family: Noto Sans JP Bold;
}
.cm-img{
    position: absolute;
    top: -12.28rem;
}
.cm-img img{
    width: 29.16vw;
}
/* company */
.company{
    color: #333333;
}
.company-inner{
    margin-bottom: 4.0rem;
}
.company-title{
    font-size: 3.2rem;
    font-family: Montserrat;
    padding-bottom: 3.0rem;
    border-bottom: 1px #DDDDDD solid;
}

.company-ul{
    /* display: flex; */
    margin-left: 20.8vw;

}
.company-ul>li{
    display: flex;
    font-size: 1.6rem;
    font-family: YuGothic;
    border-bottom: 1px #DDDDDD solid;
    padding: 1.7rem 0;
}
.info-name{
    font-weight: bold;
    width: 14.4rem;
}
.company-map{
    width: 100%;
    height: 25vw;
    margin-bottom: 12.0rem;
}
/* footer */
.footer-title{
    color: #fff;
    text-align: center;
    padding: 1.8rem 0;
    background-color: #525252;
    width: 100%;
    font-size: 1.0rem;
    font-family: Montserrat Medium;
}

@media screen and (max-width:1024px){
/* base */
    section{
        margin: 0 3.0rem;
    }
/* header */
    header,
    .header-background
    {
        height: 61.5rem;
    }
    .header-img img{
        width: 76.4vw;
        /* height: 68.88vw; */
        height: 52.9rem;
        object-fit: cover;
    }
/* ceo message */
    .cm-inner{
        width: auto;    
        padding: 10.9rem 4.0rem 7.8rem 4.0rem;
    }
/* company */
    .company-ul{
        margin-left: 3.0rem;
    }
}
@media screen and (max-width:768px) {
/* base */
    section{
        margin: 0 1.5rem;
    }
/* header */
    /* header{
        overflow: hidden;
    } */
    .header-line{
        padding-top: 2.0rem;
    }
    .header-title{
        margin: auto;
    }
    .header-title img{
        width: 20.0rem;
    }
    .header-humberger{
        margin: auto;
    }
/* first-view */
    .fv-inner{
        float: none;
        margin: 15.6rem auto auto 15.2vw;
    }
    .fv-title{
        font-size: 5.2rem;
    }
/* vision */
    .vision{
        margin: 12.0rem 0 8.0rem 0;
    }
    .vision-text{
        font-size: 1.4rem;
    }
/* ceo message */
    .cm-inner{
        margin: 26.4rem 0 8.0rem 0;
        padding: 15.0rem 10.97vw 9.0rem 10.97vw;
    }
    .cm-text{
        font-size: 1.4rem;
    }
    .cm-img{
        left: -1.5rem;
    }
    .cm-img img{
        width: 90.6vw;
    }
/* company */
    .company-ul{
        margin: auto;
    }
    .company-ul>li{
        font-size: 1.4rem;
    }
    .info-name{
        font-weight: normal;
    }
    .company-map{
        height: 120vw;
    }
}
/* humberger */
.clicked .top-bar{
    transform: rotate(45deg) translate(0,10px);
    transition: .5s;
}
.clicked .middle-bar{
    opacity: 0;
}
.clicked .bottom-bar{
    transform: rotate(-45deg) translate(0,-10px);
    transition: .5s;
}
.noScroll{
    overflow: hidden;
}
/* nav */
.header-nav{
    display:none ;
}
.nav-inner{
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    padding: 12.0rem 20.0rem 100vh;
    font-size: 2.0rem;
    font-weight: 800;
    font-family: Montserrat;
    text-align: center;
    background-color: #222222;
    opacity: 95%;
}
.nav-item{
    margin-bottom:3.0rem;
}
.nav-background{
    background-color: #222222;
    opacity: 60%;
    width: 100%;
    height: 200vh;
    position: absolute;
    top: 0;
    z-index: 1;
}
@media screen and (max-width:1024px) {
    .nav-inner{
        left: 0;
    }
}
@media screen and (max-width:768px) {
    .nav-inner{
        padding: 18.0rem 0 200vh;
    }
}