/* base */
html,body{
    font-size: 62.5%;
    margin: 0;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
.displayNone-pc{
    display: none;
}
.displayNone{
    display: none;
}
.opacity:hover{
    opacity: 70%;
    transition: 0.3s;
}
.noScroll{
    overflow-y: hidden;
}
/* header */
header{
    position: relative;
    color: #fff;
    height: 31.31vw;
}
.header-line{
    display: flex;
    justify-content: space-between;
    padding: 2.2rem 5.9rem 0;
}
.humberger{
    display: flex;
    position: relative;
    z-index: 3;
}
.bar{
    width: 2.2rem;
    height: .2rem;
    background-color: #fff;
    margin-bottom: 5px;
    border-radius: 30px;
}
.humberger-title{
margin-left: .7rem;
}
.header-img {
    position: absolute;
    top: 0;
    z-index: -1;
}
.header-img img{
    width: 76.38vw;
}
.header-background{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #222222;
    width: 54.16vw;
    height: 31.31vw;
    z-index: -2;
}
/* first-view */
.first-view{
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
}
.fv-inner{
    margin: 9.5rem 10.41vw 0 0;
}
.fv-title{
    font-size: 7.2rem;
    font-family: Montserrat;
    font-weight: 800;
}
.fv-text{
    font-size: 2.0rem;
    font-family: YuGothic;
    font-weight: bold;
}
/* contact */
.contact{
    color: #222222;
    font-size: 1.6rem;
    font-family: Noto Sans JP;

}
.contact-inner{
    margin: 12.0rem 25.69vw 17.0rem ;
}
.contact-load{
    font-family: Noto Sans JP;
    margin-bottom: 5.2rem;
}
.required::after{
    font-size: 1.4rem;
    background-color: #333333;
    content: "必須";
    color: #fff;
    padding: 0 .5rem;
    margin-left: 2.5rem;
}
.radio{
    margin-right: 5.0rem;
}
.contact-type-title{
    margin-bottom: 1.8rem;
}
.contact-item{
    margin-top: 4.2rem;
}
.contact-item input{
    width: 100%;
    height: 41px;
    margin: 0;
    margin-top: .8rem;
    box-sizing: border-box;
    border: 1px #333333 solid;

}
.contact-item textarea{
    width: 100%;
    height: 212px;
    margin-top: .8rem;
    font-size: 1.6rem;
    padding: 1.0rem;
    resize: none;
    box-sizing: border-box;
    border: 1px #333333 solid;

}
.policy{
    font-weight: 800;
    font-family: Montserrat;
}
.agree{
    text-align: center;
    margin: 4.2rem 0;
}

.submit{
    text-align: center;
}
.submit input{
    color: #fff;
    background-color: #000000;
    padding: .8rem 6.6rem;
    font-size: 1.4rem;
}

/* footer */
.footer-text{
    color: #fff;
    text-align: center;
    padding: 1.8rem 0;
    background-color: #525252;
}
@media screen and (max-width:1024px) {
/* header */
    header{
        height: 80.07vw;    
    }
    .header-img img{
        width: 75.26vw;
        height: 69.88vw;
        object-fit: cover;
    }
    .header-background{
        width: 52.86vw;
        height: 80.07vw;
    }
/* first-view */
    .fv-inner{
        margin: 11.19vw 10.41rem 0 0;
    }
/* contact */
    .contact-inner{
        margin: 13.5rem 5.0vw 24.7rem;
    }
}
@media screen and (max-width:768px) {
/* base */
.displayNone-pc{
    display: inline-block;
}
/* header */
    header{
        height: 97.33vw;
    }
    .header-line{
        padding: 2.0rem 1.5rem 0;
    }
    .header-title img{
        width: 50.4vw;
    }
    .header-img img{
        width: 76.53vw;
        height: 72vw;
        object-position: 70% top;  
    }
    .header-background{
        height: 97.33vw;
    }
/* first-view */
    .fv-inner{
        margin: 12.9rem 5.6vw 0 0;
    }
    .fv-title{
        font-size: 5.2rem;
    }
    .fv-text{
        font-size: 1.6rem;
        float: right;
    }
/* contact */
    .contact-inner{
        margin: 8.0rem 1.5rem 24.7rem ; 
    }
    .contact-load{
        font-size: 1.4rem;
    }
    .radio input {
        margin-bottom: 1.4rem;
    }
    .contact-item{
        margin-top: 9.86vw;
        padding-bottom: 3.7rem;
        width: 100%;
    }

    .contact-item input{
        margin-top: 1.0rem;
    }

}
/* humberger */
.header-nav{
    animation: fadeIn 0.3s linear 0s 1 normal;
}
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100%;
    }
}

.humberger:hover{
    cursor: pointer;
}
.top-bar-click{
    transform: rotate(45deg) translate(0,10px);
    transition: 0.5s;
}
.middle-bar-click{
    opacity: 0;
}
.bottom-bar-click{
    transform: rotate(-45deg) translate(0,-10px);
    transition: 0.5s;
}
.nav-inner{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    background-color: #222222;
    opacity: 95%;
    width: 36.11vw;
    height: 170vw;
    text-align: center;
    /* padding:18.0rem 20.0rem 0; */
    padding-top: 12.5vw;
}
.nav-img{
    margin-bottom: 4.0rem;
}
.nav-item{
    font-size: 2.0rem;
    font-weight: 800;
    font-family: Montserrat;
    margin-bottom: 3.0rem;
}
.humberger-background{
    position: absolute;
    top: 0;
    /* left: 0; */
    background-color: #222222;
    opacity: 60%;
    width: 100%;
    height: 200vh;
    z-index: 1;
}
@media screen and (max-width:1024px) {
    .nav-inner{
        width: 100%;
    }
}

