html,body{
    font-size: 62.5%;
    margin: 0;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
.displayNone{
    display: none;
}

/* header */
header{
    position: relative;
    color: #fff;
}
.header-inner{    
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header-title{
    margin: 3.0rem 0 0 5.8rem;

}
.header-humberger{
    display: flex;
    margin: 3.6rem 5.8rem 0 0;
}
.humberger-item{
    background-color: #fff;
    height: 3px;
    width: 2.2rem;
    content: "";
    margin-bottom: 3px;
}
.humberger-title{
    margin-left: .7rem;
}
/* first-view */
.first-view{
    color: #fff;
    height: 51.3vw;
}
.fv-inner{
    color: #fff;
    float: right;
    margin-top: 6.8vw;
}
.fv-small-text{
    font-size: 2.0rem;
    font-weight: bold;
    margin-right: 13.4vw;
}
.fv-text-jp{
    font-family: YuGothic;
}
.fv-text-en{
    font-family: Montserrat Medium;
}
.fv-load{
    font-size: 7.2rem;
    font-weight: bold;
    font-family: Montserrat;
}
.fv-img-pc,.fv-img-sp{
    position: absolute;
    top: 0;
    z-index: -1;

}
.fv-img-pc img{
    width: 76.3vw;
}
.fv-background{
    background-color: #222222;
    position: absolute;
    top: 0;
    right: 0;
    width: 78.0rem;
    height: 51.3vw;
    z-index: -2;
}
/* main */
section>.about,
section>.latest-topics{
    margin: 0 17.0rem;
}
.title{
    font-size: 3.2rem;
    font-weight: bold;
    font-family: Montserrat;
}
.read-more a{
    padding: .9rem 4.8rem 1.1rem 4.1rem;
    background-color: black;
    color: #fff;
    display: inline-block;
}
.read-more a:hover{
    opacity: 80%;
    transition: 0.5s;
}
/* about */
.about{
    padding-top: 12.0rem;
}
.about-img{
    position: relative;
}
.about-img img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.about-inner{
    position: absolute;
    top: 0;
    margin: 6vw 0 0 5.0rem;
    padding: 5.0rem 3.0rem 0 3.0rem;
    width: 40vw;
    background-color: #fff;
    opacity: 95%;
}
.about-text{
    font-size: 1.6rem;
    font-family: Noto Sans JP;
    margin-bottom: 4vw;
}
.about-link a{

    margin-bottom: 5.0rem;
}

@media screen and (max-width:1024px) {
    .first-view{
        height: 133.3vw;
    }
    .fv-img-sp img{
        width: 78.1vw;
        height: 115vw;
        object-fit: cover;
    }
    .fv-background{
        height: 133.3vw;
    }
}
